:root {
    --background-color: 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/header.png");
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px;
    background-color: #2a607c;
    color: white;
}

header h1 {
    float: inline-start;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 48px;
}

header nav {
    /* float: right; */
    padding: 0 50px;
    margin: auto 5px;
    font-size: 20px;
    line-height: 50px;
}

header nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 0 5px;
}

header nav a:hover {
    background: rgba(255, 165, 0, .5);
    border-radius: 5px;
}

header img {
    border: 5px solid gray;
    border-radius: 50%;
    border-image: auto;
    display: flex;
    margin: auto;
    width: 15%;
    height: 15%;
    max-width: 200px;
}

main {
    background-color: #2a607c;
}

.projects {
    text-align: center;
}

.projects h1 {
    font-size: 48px;
}

.projects img {
    max-width: 400px;
    max-height: auto;
    border-radius: 20%;
}

.projects .sub-projects img {
    display: inline-flex;
}

.projects .sub-projects img:hover {
    background: rgba(255, 165, 0, .5);
    padding: 1%;
}

/* @media screen and (max-width: 980px) {
    header {
        padding-bottom: auto;
        display: block;
        text-align: center;
    }

    header nav ul {
        width: auto;
        font-size: 30px;
    }
    
    .projects img {
        display: inline;
        max-width: 800px;

    }

    .sub-projects {
        display: grid;
    }
} */